
<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">URL</th>
          <th class="text-center">Shortened URL</th>
          <th class="text-center">Actions</th>
        </tr>
        <ng-container *ngFor="let url of urlList | async; let id = index">
          <tr>
            <td>
              <span (keyup)="changeValue(id, 'longUrl', $event)" contenteditable="true">{{url.longUrl}}</span>
            </td>
            <td>
              <span (keyup)="changeValue(id, 'shortUrl', $event)"><a href="{{url.longUrl}}">{{url.shortUrl}}</a></span>
            </td>
            <td>
              <span class="table-remove">
                <a class="text-success" (click)="remove(url.shortUrl)"><mdb-icon fas icon="times"></mdb-icon></a> &nbsp;
                <a class="text-success" (click)="qrcode(url.shortUrl)"><mdb-icon fas icon="qrcode"></mdb-icon></a>
              </span>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>